[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
black = "*"
pycodestyle = "*"
mypy = "*"
pytest = "*"

[packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
